/********************
YOUR STYLES
*******************/

/* Layout */
* { box-sizing: border-box; }

body {
    background-image: url("http://www.planwallpaper.com/static/images/cool-wallpapers-hd-8087-8418-hd-wallpapers.jpg");
}
section {
  /* Fallback: Floated in No JS */
  float: left;
  padding: 1em;
  margin: 0;
}

/* clearfix */
section:after {
  content: '';
  display: block;
  clear: both;
}

article {
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-size: 10em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Bungee', cursive;
}
h3 {
    font-size: 1.5em;
    font-family: 'Bungee', cursive;
}
p {
    font-family: 'Crafty Girls' , cursive;
    font-size: 1.3em;
}
li {
    float: right;
    margin-left: 30px;
    animation-name: rollIn;
    animation-duration: 4s;
}
.img {
    width: 100px;
    height: 90px;
    padding: 0px;
    margin-left: -10px;
    background: white;
    border: 2px solid black;
}
.me {
    width: 440px;
    height: 550px;
    border: 10px solid black;
}

/* Masonry Styling */
section {
  background: rgba(183, 182, 182, 0.75);
  border: 1px solid black;
  /* vertical space between */
  margin-bottom: 10px;
/*  Default width*/
  width: 200px;
}


/*set your own heights*/
.tall {
  height: 600px;
}

.med {
  height: 400px;
    width: 500px;
}

.short {
  height: 270px;
    width: 500px;
}

/********************
MEDIA QUERIES
*******************/





/* Mobile */

@media (min-width: 480px) { }
h1 {
    font-size: 3em;
}
    
/* Tablet */

@media (min-width: 768px) {
    section{
        width: 600px;
    }
}

/* Desktop */
   
@media (min-width: 1024px) {
    
}